/**************************************************
*
* Author: Rafał AKA rafskii
* CSS for beginners from youtube.com
*
**************************************************/

/*TARGETING*/

a {
    color: crimson;
    text-decoration: none;
    font-weight:bold;
}

a:hover {
    color: darksalmon;
    text-decoration: underline;
    letter-spacing: 10px;
}
